*{
    margin: 0;
    padding: 0;
}
body{
     font-family: "Noto Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #43cea2, #185a9d); 
}
.outer-box{
    border:1px solid black ;
    border-radius: 10px;
    width: fit-content;
    padding: 25px;
    text-align: center;
    height: fit-content;
    background-color: #f9fafb;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
h1{
    color: #1f2933;
    margin-bottom: 38px;
}
p{
    color: #4b5563;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 500;
}
.btn button{
    font-size: 23px;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #36d1dc, #5b86e5);
    color: white;
    transition: all 0.3s ease;
}
.btn button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
#result{
    padding: 18px;
    font-size: 20px;
    font-weight: 500;
    color: #2563eb;
}
#status{
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #2563eb;
}
@media (min-width:0px) and (max-width:481px)
{
    body{
        padding: 20px;
    }
}
